%h1 About

%h2 Introduction

%p
  This is a personal metrics application to capture your mindset at moments in your life.
  We are currently capturing data about location, time, emotion, and hope to add other metrics as needed.

%p
  With this data, we'd like to see if we can answer questions about your moods.

%p
  %em How you will feel on a particular day?<br>
  %em When your in a certain location are you always Happy?<br>
  %em Does weather effect your mood?

%p
  Right now it is <strong>invite only</strong>, but if you would like to participate,
  please #{mail_to "hello@howareyou.mobi", "contact us", subject: "Invite me, please."}.

%h2 Technology

%p
  = link_to "Github", "http://github.com/jtarchie/howareyou", target: "_blank"
  has our code.
