<h2>About</h2>

<p>A basic application to help capture your current mindset. I'm trying to
capture data points to see if it is viable to make accurate assumptions
about emotional behaviour.</p>

<p>It would be nice to say, &quot;Every Tuesday at 8pm you are Happy. Keep doing
that.&quot;</p>

<p>Right now it is invite only, but if you would like to participate,
please <%= mail_to "hello@howareyou.mobi", "contact me", subject: "Invite me, please." %>.</p>
