%h1 Want to be a part of our beta?

%p We are looking for people that are excited about <strong>personal metrics</strong>.
%p We want to help you keep track of your emotional state of mind, find interesting patterns, and just be one of the cool kids.

%p Please #{mail_to "hello@howareyou.mobi", "contact us", subject: "Invite me, please."} for an invite to the beta.
