%h1 How are you?
= form_for @mindset, data: {location: "mindset"} do |f|
  - @emotions.each do |emotion|
    .input-group
      = f.radio_button :emotion_id, emotion.id
      = f.label :emotion_id, emotion.name, value: emotion.id
  .input-actions
    = f.submit "Submit"
