%h1 Account Settings
= simple_form_for @user, url: account_path do |f|
  %h2 Emotion Group
  %p
    Select which group of emotions you want displayed for when you choose your
    mindset. They are categorized by different schools of thought on how emotions
    are associated with each other.
  = f.association :emotion_group, collection: @emotion_groups, include_blank: false, as: :radio_buttons
  = f.button :submit, "Submit"
