//= require _navbar
//= require _alert

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:before,:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}


.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.input-group {
  input[type="radio"] {
    &:checked + label {
      font-weight: bold;
    }
  }

  label {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    min-width: 200px;
    padding: 5px 30px 5px 5px;
    text-transform: capitalize;
  }
}

.input-actions {
  margin-top: 20px;
}

input[type="submit"] {
  -webkit-appearance: button;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}
